/* Reset de estilos y estilos generales */
body,
ul,
li,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@700&display=swap');

/* Estilos del menú vertical a la derecha 
clip-path: polygon(100% 0, 100% 0%, 100% 0, 100% 0);
*/
nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    position: fixed;
    top: 4%;
    right: 20px;
    height: 90vh;
    z-index: 1000; 
    width: 20%;
    border-radius: 15px;
    overflow: hidden;
    transition: width 0.7s ease-in-out;
  }
.nav-list {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 8px;
    padding-right: 8px;
    gap: .3rem;
    transition: clip-path 0.7s ease-in-out;
}

.nav-list li {
  margin-bottom: 1rem;
  transition: transform 0.7s ease-in-out;
}
.abrir{
  position: fixed;
  top: 4%;
  right: 20px;
  background-color: black;
  z-index: 1000; 
  overflow: hidden;
  border: none;
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.7s ease-in-out;
  box-shadow: inset;
  border-radius: 10%;
}
.abrir img {
  width: 40px;
}
.nav-list li a {
    font-family: 'Rethink Sans', sans-serif;;
    text-decoration: none;
    color: rgb(175, 175, 175);
    padding: 0.5rem 1rem;
    display: block;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a:hover {
  color: rgb(255, 255, 255);
  
}

.cerrar_menu{
    background-color: black;
    width: 32px;
    height: 30px;
    align-self: flex-end;
    transition: transform 0.7s ease-in-out;
    border: none;
    border-radius: 20%;
}
.cerrar_menu:hover{
  background-color: rgb(184, 0, 0);
}
.abrir_menu.hidden {
  display: none;
}

nav.visible {
  display: flex;
}

@media screen and (max-width: 1050px) {
  .abrir_menu,
  .cerrar_menu {
    display: block;
  }
  nav {
    display: none;
  }
}
